/* Globals */
//colors
//colors
$color_tuatara_approx: rgb(54, 54, 54);
$color_gallery_approx: rgb(237, 237, 237);
$white: rgb(255, 255, 255);
$color_sunset_orange_approx: rgb(240, 86, 61);
$color_terracotta_approx: rgb(236, 114, 99);
$color_alto_approx: rgb(221, 221, 221);
$color_silver_chalice_approx: rgb(170, 170, 170);
$color_pumice_approx: rgb(198, 198, 198);
$color_shady_lady_approx: rgb(169, 169, 169);
$color_cadillac_approx: rgb(167, 82, 101);

//fonts
$font_0: Open Sans;
$font_1: Arial;
$font_2: Tahoma;
$font_3: FontAwesome;

//urls
$font_url: "http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800";
